# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [3]:
mytpl=tuple(range(1,11))
mytpl

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [8]:
print(mytpl[0])
print(mytpl[-1])
print(mytpl[len(mytpl)//2])

1
10
6

In [15]:
#Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.
print(mytpl[:3])
print(mytpl[-3:])
print(mytpl[2:6])

(1, 2, 3)
(8, 9, 10)
(3, 4, 5)

In [22]:
#Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.
mytpl=(
    (1,2,3),
    (4,5,6), 
    (7,8,9),
)
print("Matrix:")
for row in mytpl:
    print(row)

print(mytpl[1][2])

Matrix:
(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
6

In [23]:
#Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.
a=(1, 2, 3)
b=(4, 5, 6)
a=a+b
a

(1, 2, 3, 4, 5, 6)

In [24]:
#Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.
tpl = (1, 2, 2, 3, 4, 4, 4, 5)
print(tpl.count(4))
print(tpl.index(4))

3
4

In [25]:
lst = [1, 2, 3, 4, 5]
#Convert a list of the first 5 positive integers to a tuple. Print the tuple.
mytpl=tuple(lst)
mytpl

(1, 2, 3, 4, 5)

In [26]:
#Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.
tpl = (1, 2, 3, 4, 5)
lst1=list(tpl)
lst1.append(6)
mytpl=tuple(lst1)
mytpl

(1, 2, 3, 4, 5, 6)