In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

In [2]:
# Load the data
df=sns.load_dataset('tips')

In [3]:
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [4]:
X=df.drop('total_bill',axis=1)
y=df['total_bill']

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [6]:
#import label encoder
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
le1=LabelEncoder()
le2=LabelEncoder()
X_train['sex']=le.fit_transform(X_train['sex'])
X_train['smoker']=le1.fit_transform(X_train['smoker'])
X_train['time']=le2.fit_transform(X_train['time'])

X_test['sex']=le.transform(X_test['sex'])
X_test['smoker']=le1.transform(X_test['smoker'])
X_test['time']=le2.transform(X_test['time'])

In [7]:
#import ohe
X_train = pd.get_dummies(X_train, columns=["day"], drop_first=False)
X_train[['day_Fri', 'day_Sat', 'day_Sun', 'day_Thur']] = X_train[['day_Fri', 'day_Sat', 'day_Sun', 'day_Thur']].astype(int)
X_test = pd.get_dummies(X_test, columns=["day"], drop_first=False)
X_test[['day_Fri', 'day_Sat', 'day_Sun', 'day_Thur']] = X_test[['day_Fri', 'day_Sat', 'day_Sun', 'day_Thur']].astype(int)
X_train

      tip  sex  smoker  time  size  day_Thur  day_Fri  day_Sat  day_Sun
234  3.00    1       1     0     2         0        0        1        0
227  3.00    1       0     0     4         0        0        1        0
180  3.68    1       1     0     4         0        0        0        1
5    4.71    1       0     0     4         0        0        0        1
56   3.00    1       1     0     4         0        0        1        0
..    ...  ...     ...   ...   ...       ...      ...      ...      ...
106  4.06    1       1     0     2         0        0        1        0
14   3.02    0       0     0     2         0        0        0        1
92   1.00    0       1     0     2         0        1        0        0
179  3.55    1       1     0     2         0        0        0        1
102  2.50    0       1     0     3         0        0        1        0

[170 rows x 9 columns]

In [8]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [10]:
#import SVR
from sklearn.svm import SVR
svr=SVR()
svr.fit(X_train,y_train)
y_pred=svr.predict(X_test)

In [11]:
from sklearn.metrics import mean_squared_error,r2_score 
print(mean_squared_error(y_test, y_pred))
print(r2_score(y_test, y_pred))

44.341991457944744
0.3634176347720963